<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">NOME AZIENDA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-1g-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/cart']" routerLinkActive="active">Cart</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
